* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #0a0a0a;
}
ul {
    border-bottom: 1px solid white;
}
nav>ul {
    //width: 75%;
    display: flex;
    list-style-type: none;
    padding: 14px 116px 14px 111px;
    color: #f4f4f4;
    justify-content: space-between;
    background: #0a0a0a;
}

a:visited {
    text-decoration: none;
    color: #f4f4f4;
    //color: black;
}

li a {
    padding: 10px 30px;
    text-decoration: none;

}

.link1 {
    margin-right: auto;
}

.link1 a {
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    nav>ul {
        padding: 14px 116px 14px 111px;
        flex-direction: column;
        width: 100%;
    }
}