.main-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /*centers items on the line (the x-axis by default)*/
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 10%;

}
a{
    //color: black;
}
.product-card {
    min-width: 20rem;
    min-height: 15rem;
    background: #efefef;
    opacity: 0.9;
    color: black;
    border: none;
    max-height: 25rem;
    overflow: scroll;
    padding-top: 1rem;
}

.product-card img {
    width: 256px;
    padding: 5px;
    filter: drop-shadow(10px 10px 10px gray); //Adds shadow to the image
}
.product-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: absolute;
}
.product-card:hover {
    opacity: 1;
}
.product-card button{
    
}
#productdisplay {
    display: flex;
    justify-content: center;
}
.pro{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex:1 ;
}
#prod-button{
    border: none;
    color: #d87c49;
    font-size: larger;
}